results/*
results_seed_1/*
results_seed_2/*
results_seed_3/*
results_seed_4/*
results_seed_5/*
results_all_seeds/*
backup_results/*
compare_models_results/*
results_skilled_CLIP/*
*.png
__pycache__/
*.jpg
*.jpeg
*.npy
*.json
test_images/*
sparsity/__pycache__
moefication/__pycache__
modularity/__pycache__
bounding_boxes/__pycache__
neuron_receivers/__pycache__
*.ttf