results/*
results_seed_1/*
results_seed_2/*
results_seed_3/*
results_seed_4/*
results_seed_5/*
*.png
__pycache__/
*.jpg
*.jpeg
*.npy
*.json
test_images/*
sparsity/__pycache__
moefication/__pycache__
modularity/__pycache__